---
layout: two-column

---
<style>
    .module-table td:nth-child(2),
    module-table th:nth-child(2) {
        min-width: 100px;
        width: 100px;
    }

    .module-table td:nth-child(1),
    module-table th:nth-child(1) {
        min-width: 30px;
        width: 30px;
    }

    .module-table {
        border-width: 0;
    }

    .hr {
        display: block;
        margin: 30px auto 30px 0;
        width: 100%;
        background-color: #CCC;
        height: 1px;
        border-radius: 1px;
    }

    code {
        font-weight: bold;
    }

</style>

{{content}}

<div class="hr"></div>
{% assign idx = 1 %}
{% assign module_dates = page | get_module_dates: site %}
{% assign lastWeek = "" %}
{% for date in module_dates %}

    {% assign slides = page.slides | filter_list_by_date: date %}
    {% assign activities = page.activities | filter_list_by_date: date %}
    {% assign labs = page | get_labs_by_module_by_date: site, date %}
    {% assign materials = slides | concat: activities | concat : labs %}
    {% assign readings = page.readings | filter_list_by_date: date %}

    <h2>{{ date | date: "%A, %-m/%-d" }}</h2>

    <!-- Slides & Activities -->
    <h3 id="slides_{{idx}}">Slides & Activities</h3>
    <ul>
        {% for material in materials %}
        <li>{{ material | display_link_or_badge: false, false, true }}</li>
        {% endfor %}
    </ul>

    {% if readings.size > 0 %}
    <h3 id="readings_{{idx}}">Readings</h3>
    <ul class="compact">
        {% for reading in readings %}
        <li>
            <a href="{{reading.url | get_url }}">{{reading.title}}</a>
            {% if reading.required == 1 %}
            <span class="badge">required</span>
            {% else %}
            <span class="badge">optional</span>
            {% endif %}
            <br>
            {{ reading.instructions}}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="hr"></div>
    {% assign idx = idx | plus: 1 %}
{% endfor %}



<!-- Study Questions -->
{% if page.questions %}
<h2 id="dqs">Study Questions</h2>
<ol>
    {% for question in page.questions %}
    <li>{{question}}</li>
    {% endfor %}
</ol>
{% endif %}


