---
layout: two-column
---

<style>
    td .reading,
    td .lecture,
    td .badge,
    td .lab,
    td .activity {
        font-size: 0.8rem !important;
    }

    .mb-1 {
        margin-bottom: 4px;
    }

    .reading {
        vertical-align: bottom;
    }

    .inline-block span {
        font-weight: 500;
    }

    .assignments.topics ul {
        padding: 0;
    }

    .assignments.topics table {
        margin-bottom: 50px;
        border-color: #CCC;
        border-width: 0px;
    }

    .assignments.topics table thead tr:first-child {
        border-bottom: dotted 1px #CCC;
    }


    .assignments.topics td:nth-child(1),
    .assignments.topics th:nth-child(1) {
        width: 80px !important;
        min-width: 80px !important;
        max-width: 80px !important;
    }


    .assignments.topics td:nth-child(2),
    .assignments.topics th:nth-child(2) {
        min-width: 90px !important;
        max-width: 90px !important;
        width: 90px !important;
    }

    .assignments .compact li {
        line-height: 1.4em;
        margin-bottom: 4px;
    }

    .assignments.topics p,
    .assignments.li {
        margin-bottom: 10;
        line-height: 1.6em;
    }

    .card {
        border: solid 1px #F9F9F9;
        border-radius: 6px;
        padding: 20px;
        background-color: #FAFAFA;
        margin-bottom: 20px;
    }
</style>

{{content}}
<section class="assignments topics">
    {% assign topics = site.lectures | where: "type", "topic" | sort: 'start_date' %}
    {% for topic in topics %}
    {% assign lastWeek = "" %}
    <!-- Topic Header -->
    <h2 id="topic_{{topic.num}}">{{ topic | display_link_or_badge: false, true }}</h2>

    <p>{{ topic.description }}</p>
    {% if topic.questions %}
    <div class="card">
        <h3 id="dqs_{{topic.num}}">Study Questions</h3>
        <ol class="compact">
            {% for question in topic.questions %}
            <li>{{question}}</li>
            {% endfor %}
        </ol>
    </div>
    {% endif %}

    {% assign module_dates = topic | get_module_dates: site %}
    {% if module_dates.size > 0 %}
    <h3 id="ra_{{topic.num}}">Readings & Activities</h3>
    <table>
        <thead>
            <th>Week</th>
            <th></th>
            <th>Slides / Activities</th>
            <th>Readings</th>
        </thead>
        <tbody>
            <!-- Topic Details -->
            {% for date in module_dates %}
            {% assign week = site.term_start_date | get_week_number: date %}
            <tr>
                <td>
                    {% if lastWeek != week %}
                    <strong>Week {{week}}</strong>
                    {% assign lastWeek = week %}
                    {% endif %}
                </td>
                <td>
                    {{ date | date: "%a, %-m/%-d" }}
                </td>
                <td>
                    <!-- Slides -->
                    {% assign slides = topic.slides | filter_list_by_date: date %}
                    {% for slide in slides %}
                    {{ slide | display_link_or_badge: false, true }}
                    {% endfor %}

                    <!-- Videos -->
                    {% assign videos = topic.videos | filter_list_by_date: date %}
                    {% for video in videos %}
                    {{ video | display_link_or_badge: false, true }}
                    {% endfor %}

                    <!-- Activities -->
                    {% assign activities = topic.activities | filter_list_by_date: date %}
                    {% for activity in activities %}
                    {{ activity | display_link_or_badge: false, true }}
                    {% endfor %}

                    <!-- Labs -->
                    {% assign labs = topic | get_labs_by_module_by_date: site, date %}
                    {% for lab in labs %}
                    {{ lab | display_link_or_badge: false, true }}
                    {% endfor %}

                    <!-- Projects -->
                    {% assign projects = topic | get_projects_by_module_by_date: site, date %}
                    {% for project in projects %}
                    {{ project | display_link_or_badge: false, true }}
                    {% endfor %}
                </td>
                <td>
                    <!-- Readings -->
                    {% assign readings = topic.readings | filter_list_by_date: date %}
                    {% for reading in readings %}
                        {{ reading | display_link_or_badge: false, true, true }}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Coming Soon!</p>
    {% endif %}
    {% endfor %}
    </div>


</section>